body {
  padding-bottom: 500px;
  background-color: peachpuff;
}

h3 {
  display: flex;
  justify-content: center;
  color: gray;
  margin: 30px;
}
/* Comentário no css, CTRL : */

.paragraph {
  background: #000;
  color: aqua;
  padding: 5px;
  /* .class para classes */
}

/* #id para ids */
#exclusive-title {
  background-color: purple;
  color: yellow;
  padding: 10px;
  font-size: 20px;
}

/* 8) ordem das regras */
h2 {
  border-bottom: 2px solid red;
}

.titulo {
  border-bottom: 3px solid blue;
}

#algum-titulo {
  border-bottom: 4px solid green;
}

/* nome de cores */
.colorname {
  color: crimson;
}

.hex {
  color: #55a398;
}

.hex2 {
  color: #0b053b;
  font-size: 15px;
  /* caracteres repetidos podem ser escritos uma só vez. ex: aabbcc = abc */
}

.rgb {
  color: rgb(255, 0, 0);
}

.rgbmixed {
  color: rgb(123, 98, 12);
}
/* RGBA */
.rgba {
  color: rgba(234, 76, 4, 0.8);
}

/* hsl */
.hsl {
  color: hsl(230, 90%, 76%);
}

.bg {
  background-color: #000;
  color: yellow;
}

/* backgorund */
.bg2 {
  background-color: #55a398;
  color: #0b053b;
}

/* bg opacity */
.bgopacity {
  background-color: green;
  opacity: 0.4;
}

/* rgba m opacidade */
.rgbaopacity {
  background-color: rgba(90, 120, 20, 0.3);
  color: #000;
}

/* bg image */
.bgimage {
  background-image: url(../Pasta\ de\ aprendizado/images.jpg);
  color: #fff;
}

/* centralizando bg image */
.notcenteredbg,
.centeredbg {
  height: 200px;
  width: 300px;
  background-image: url(../Pasta\ de\ aprendizado/images.jpg);
}

.centeredbg {
  background-position: center;
  background-size: cover;
}
/* position: center tá pondo o foco da imagem no centro; size: cover tá cobrindo a a maior parte possível da imagem */

/* largura e altura */
.height-width {
  height: 200px;
  width: 100px;
  background-color: red;
}

.height-width-2 {
  height: 300px;
  background-color: #333;
  /* se não colocar width, ele preenche a largura inteira da página */
}
/* padding */
.sempadding {
  background-color: #111;
  color: #fff;
}

.compadding {
  background-color: #777;
  color: #fff;
  padding: 20px;
}

/* padding individual */
.padding-individual {
  background-color: #222;
  color: #fff;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 40px;
}

/* shorthand padding */
.shorthand-padding {
  background-color: #0b053b;
  padding: 6px 12px 18px 24px;
}
.shorthand-padding-2 {
  background-color: #55a398;
  padding: 10px 20px;
  /* vertical | horizontal */
}

/* padding com width */
.semborderbox {
  background-color: #e55;
  color: aliceblue;
  width: 400px;
  padding: 50px;
}

.comborderbox {
  background-color: #e55;
  color: aliceblue;
  width: 400px;
  padding: 50px;
  box-sizing: border-box;
}

/* border */
.border {
  border: 5px solid red;
  padding: 10px;
}
.border-2 {
  border: 2px dotted #931;
  padding: 20px;
}

/* borda individual */
.border-left {
  border-left: 3px solid red;
  background-color: #222;
  padding: 25px;
}
.border-bottom {
  border-bottom: 5px double #399;
  background-color: #222;
  padding: 15px;
}

/* borda arredondada */
.rounded-p {
  border: 4px solid blue;
  background-color: #000;
  color: blue;
  padding: 15px;
  border-radius: 15px;
}
.rounded-p-2 {
  background-color: #000;
  color: blue;
  padding: 15px;
  border-radius: 15px;
  /* não precisa de borda pra aplicar o border-radius */
}

/* margin */
.margin {
  margin: 10px;
  background-color: #444;
}
.margin-top {
  margin-top: 50px;
  background-color: #111;
  padding: 10px;
}
.margin-shorthand {
  background-color: #777;
  margin: 5px 10px 15px 20px;
}

/* box model com tudo junto */
.box-model {
  margin: 20px;
  padding: 15px 25px;
  border: 3px solid #845;
  border-radius: 7px;
  width: 200px;
  height: 100px;
}
